.logo {
  font-family: 'Itim';
  font-size: 2em;
}

.profile-img {
  // border: 2px solid green;
  width: 50%;
  text-align: center;

  img {
    width: 100%;
    // border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
  }
}

.username {
  font-size: 1.2em;
}

.active {
  // color: white;
  // background-color: #2D3344;
  border-radius: 0px 0px 0px 0px;
}

a {
  // color: rgba(255, 255, 255, 0.832) !important;
}

:host ::ng-deep .mat-list-item:focus {
  // background-color: #2D3344 !important;
}